.headerSection {
    display: flex;
    margin-bottom: 2vh;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.searchContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchForm {
    width: 100%;
}

.searchBoxExplore {
    position: relative;
    display: flex;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.03);
    border-radius: 14px;
    padding: 5px 10px;
    height: 43px;
}

.backBtnIcon {
    width: 44px;
    height: 44px;
    background: #FFFFFF;
    border-radius: 40px;
    border: none;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    display: flex;
}

.basketBtn {
    width: 44px;
    height: 44px;
    background: #FFFFFF;
    border-radius: 40px;
    border: none;
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: 20px;
}

.logoBtn {
    border: none;
    cursor: pointer;
    background-color: transparent;
}

.headerLogoIcon {
    width: 80px;
    height: 50px;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    padding: 0;
}

.headerLogoLink {
    padding: 0;
}

.responsiveImage {
    width: 100%;
}
.imageSection {
    position: relative;
    display: inline-block;
  }
  
  .imageText {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    font-family: 'Raleway';
  }
  
  .imageText h1 {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .imageText button:hover {
    background-color: $bg-gray;
  }
 
  .responsiveVideo {
    object-fit: cover;
    object-position: 0px center;
    height: 550px;
    width: 100%;
  }

  .videoTextBlock {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    color: #fff;
    text-align: left;
    padding: 20px;
    box-sizing: border-box;
    font-family: "Raleway";
  }

  .videoTextBlockDescription {
    font-size: 20px;
  }
  .categoryBlock {
    display: flex;
    overflow-x: scroll;
    width: 100%;
  }
  .categoryLabel {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    text-transform: capitalize;
    color: #2B2B2B;
    font-size: 24px;
    text-align: center;
  }
  .categoryCard:not(:last-child) {
    margin-right: 20px;
  }
  
  .categoryImg {
    width: 290px;
  }
  .categoryImgLabel {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    text-transform: capitalize;
    color: #2B2B2B;
    font-size: 20px;
    margin-top: 10px;
  }

  .arrivalsBlock {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
  }
  .arrivalsBtn {
    display: block;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    line-height: 16px;
    text-transform: capitalize;
    color: #b6b5b5;
    font-size: 20px;
    border: none;
    background: transparent;
    cursor: pointer;
  }
  .active {
    color: #2B2B2B;
    display: block;
    font-size: 20px;
    width: 150px;
    text-align: left;
  }

  .productBlock {
    display: flex;
    overflow-x: scroll;
    width: 100%;
  }
  .productCard {
    position: relative;
  }
  .productCard:not(:last-child) {
    margin-right: 20px;
  }
  .productImg {
    width: 200px;
    height: 200px;
    background: $bg-gray;
  }
  .productLabel {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    text-transform: capitalize;
    color: #2B2B2B;
    font-size: 20px;
    margin-top: 10px;
  }
  .productBasketBtn {
    width: 44px;
    height: 44px;
    background: #FFFFFF;
    border-radius: 40px;
    border: none;
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 100px;
    right: 10px;
  }



  .footerInfoList {
    list-style: none;
    padding: 0;
  }
  .footerInfoListItem {
    margin-bottom: 15px;
  }
  .footerInfoListItem a {
    color: white;
    cursor: pointer;
    text-decoration: none;
    font-family: 'Raleway';
    font-style: normal;
    font-size: 16px;
  }
  .footerDivider {
    border: none;
    border-top: 1px solid #ccc;
    margin: 20px 0;
  }
  .footerInfoSocialList {
    display: flex;
    padding: 0;
  }
  .footerInfoSocialItem:not(:last-child) {
    margin-right: 20px;
  }
  
  
  
  

