.searchGallery {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0 20px 20px 20px;
    margin: 0;
}

.searchGalleryContainer {
    height: 100vh;
    overflow-y: scroll;
}

.searchGalleryItem {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    background: #FFFFFF;
    border-radius: 8px;
    padding: 10px;
    align-items: center;
    width: 330px;
}

.searchGalleryImg {
    width: 87px;
    height: 85px;
    margin-right: 20px;
    background: #F7F7F9;
    border-radius: 16px;
}

.galleryItemInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.searchInput {
    border: none;
    text-align: center;
    margin-right: 5px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    color: #6A6A6A;
    background: none;
    margin-bottom: 0;
    padding: 0;
}

.searchInput:focus {
    border: none;
    outline: none;
}

li h2 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color: #2B2B2B;
}

li p {
    margin: 0;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #2B2B2B;
}

li span {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #2B2B2B;
    margin-top: 10px;
}

.smallHeaderTitle {
    padding-top: 5vh;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    color: #2B2B2B;
}

.searchBox {
    position: relative;
    display: flex;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.03);
    border-radius: 14px;
    padding: 5px 10px;
    height: 43px;
    justify-content: space-between;
}

.voiceSearchButton {
    background: none;
    border: none;
    margin-right: 5px;
    cursor: pointer;
}

.voiceSearchButton:hover {
    color: #100e0e;
}

.voiceSearchButton:focus {
    outline: none;
}